body {
    background-color:#E8E8E8;
}

.login-page {
    text-align: center;
    width: 360px;
>>> >>> > login-page: accounts /static/ css / style . css;
    padding: 10% 0 0;
    margin: auto;

}

.sign-button {

    background-color: #3CB371;
    border: none;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
    cursor: pointer;
}

.sign-button:hover{
	background-color: white;
	color: #3CB371;
}

.button {

    background-color: #e7e7e7;
    border: none;
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.form {
    position: relative;
    z-index: 1;
    background-color:#F8F8F8;
    max-width: 380px;
    margin: 0 auto 100px;
    padding: 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
