{% extends 'basic_style_layout.html' %}   <!-- this is located in the main templates folder-->
{% block content %}
    {% if user.is_authenticated %}
        <br>
        <br>
        <br>
        <br>
        <style>
            button, input[type="submit"] {
                background: none;
                color: inherit;
                border: none;
                padding: 0;
                font: inherit;
                cursor: pointer;
                outline: inherit;
            }

            main {
                float: left;
                width: 60%;
            }

            aside {
                float: right;
                width: 40%;
            }


            body > section {
                max-width: 1000px;
                margin: auto;
                padding: 30px 0px;
                border-bottom: 1px solid #999;
                color: #333;
            }

            main section {

            }

            button_placement_home {
                float: left;
                width: 20%;

            }

            .column image input {

                float: left;
                width: 15%;

            }

        </style>


        <section id="pageContent">
            <main role="main">
                <div class="latest_tweets">

                    {% for tweet in latest_tweets %}
                        <!--  Creates a python foreach type loop that enumerates all object data -->
                        <div class="latest_tweet">           <!--  single object data -->
                            <div class="boxed">
                                <p><img src={{ userprofile.user_profile_picture.url }} width="50" height="50">{{ tweet.author_id }}</p>
                                <!--  fields found in models.py used for displaying our data -->
                                <p>{{ tweet.content }}

                                <div class="button_placement_home">
                                    Posted: {{ tweet.published }}
                                    <form class="site-form" action="/home/home.html?liked={{ tweet.tweet_id }}"
                                          method="post">
                                        {% csrf_token %}
                                        <div class="column">
                                            {{ tweet.favourites }}<input type="image" alt="submit" src="/static/like.jpg" width="20" height="20" title="Like Post!">
                                        </div>
                                    </form>
                                    <form class="site-form" action="/home/home.html?follow={{ tweet.author_id }}"
                                          method="post">
                                        {% csrf_token %}
                                        <div class="column">
                                            <input type="image" alt="submit" src="/static/follow.png" width="20" height="20" title="Follow Poster"></div>
                                    </form>
                                    {% if  userprofile.user_profile_name  == tweet.author_id %}
                                        <form class="site-form" action="/home/home.html?delete={{ tweet.tweet_id }}"
                                              method="post">
                                            {% csrf_token %}
                                            <div class="column">
                                                <input type="image" alt="submit" src="/static/delete.png" width="20" height="20" title="Delete Post"></div>
                                        </form>
                                    {% endif %}

                                <form class="site-form" action="/home/home.html?pin={{ tweet.tweet_id }}"
                                      method="post">
                                    {% csrf_token %}
                                    <div class="column">
                                        <input type="image" alt="submit" src="/static/pin.png" width="20" height="20" title="Pin Post"></div>
                                </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %} <!--  needed to end for loop -->
            </main>
            <aside>
                <div>
                    <center><p>
                        <h1>Following</h1></center>
                    <div class="followed_tweets">
                        {% for followed in following %}
                            {% for tweet in latest_tweets %}
                                {% if tweet.author_id == followed.followed_user and followed.liked_by_user == userprofile.user_profile_name%}
                                    <!--  Creates a python foreach type loop that enumerates all object data -->
                                    <div class="followed_tweet">           <!--  single object data -->
                                        <div class="boxed">
                                            <p><img src={{ userprofile.user_profile_picture.url }} width="50" height="50">{{ tweet.author_id }}</p>
                                            <!--  fields found in models.py used for displaying our data -->
                                            <p>{{ tweet.content }}
                                                Posted: {{ tweet.published }}
                                            <form class="site-form" action="/home/home.html?follow={{ tweet.author_id }}"
                                                  method="post">
                                                {% csrf_token %}
                                                <div class="column">
                                                    <input type="image" alt="submit" src="/static/unfollow.svg" width="20" height="20" title="Follow Poster"></div>
                                            </form>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %} <!--  needed to end for loop -->
                        {% endfor %}
                    </div>
                </div>

            </aside>
        </section>

        <center>


            </div>
        </center>

    {% else %}
        <script>
            window.location.href = '/';
        </script>
    {% endif %}
{% endblock %}