{% extends 'basic_style_layout.html' %}   <!-- this is located in the main templates folder-->
{% block content %}
    {% if user.is_authenticated %}
        <br>
        <br>
        <br>
        <br>
        <style>
            button, input[type="submit"]{
                background: none;
                color: inherit;
                border: none;
                padding: 0;
                font: inherit;
                cursor: pointer;
                outline: inherit;
            }
        </style>
        <center>
            <div class="latest_tweets">

                {% for tweet in latest_tweets %}
                    <!--  Creates a python foreach type loop that enumerates all object data -->
                    <div class="latest_tweet">           <!--  single object data -->
                        <div class="boxed">
                            <br>{{ tweet.author_id }} Posted:
                            <!--  fields found in models.py used for displaying our data -->
                            <br>{{ tweet.content }}
                            <br>Posted on {{ tweet.published }}
                            <form class="site-form" action="/home/home.html?liked={{ tweet.tweet_id }}"
                                  method="post">
                                {% csrf_token %}
                                {{ tweet.favourites }}<input type="image" alt="submit" src="/static/like.jpg" width="18" height="18">

                            </form>

                        </div>
                    </div>
                {% endfor %} <!--  needed to end for loop -->

            </div>
        </center>

    {% else %}
        <script>
            window.location.href = '/';
        </script>
    {% endif %}
{% endblock %}