{% extends 'basic_style_layout.html' %}   <!-- this is located in the main templates folder-->
{% block content %}
<center>

<div class="latest_tweets">

    {%  for latest_tweet in latest_tweets %} <!--  Creates a python foreach type loop that enumerates all object data -->
        <div class="latest_tweet">           <!--  single object data -->
            <div class="boxed">
        <p>{{ latest_tweet.author_id }} Posted:</p>  <!--  fields found in models.py used for displaying our data -->
        <p>{{ latest_tweet.content }}</p>
        <p>Posted on {{ latest_tweet.published }}</p>
            </div>
        </div>
    {% endfor %} <!--  needed to end for loop -->

<br></br>

        <h2><a href="tweets.html">Say something</a></h2>
</div>
</center>
{% endblock %}