<html>
<head>
	<title>Login</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<h1> Create an Account </h1>
	<div class="login-page">	
		<div class = "form">
			<form class = "register-form">		
				<input type="text" placeholder="Username"/>
				<input type="text" placeholder="Password"/>
				<input type="text" placeholder="Email"/>
				<button class="button1">Register</button>
			</form>
		</div>
	</div>		

</body>
</html>