<html>
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body class="body">


<div class="login-page">
    <h1> Create an Account </h1>
    <div class="form">
        <form class="site-form" method="post" action="/accounts/signup/">
            {% csrf_token %}
            {{ form }}
            <input type="submit" , value="Signup">
        </form>
    </div>
</div>

</body>

</html>