{% extends 'basic_style_layout.html' %}   <!-- this is located in the main templates folder-->
{% block content %}






    <style>
        /* Puts the profile information at the topleft of the page
           Also puts a green border around the information
        */
        .profilelocation {
            width: 400px;
            padding: 10px;
            border: 3px;
            margin: 0;
            position: relative;
            bottom: 170px;
            right: 500px;
            background-color: #FAFAFA;
        }
        .tweetinfo {
            width: 900px;
            padding: 20px;
            border: 1px;
            margin: 0;
            position: relative;
            bottom: 753px;
            right: 80px;
            background-color: #FAFAFA;
        }
        .pinned{
            border: 1px;
            position: absolute;
            right: 495px;
            top: 500px;
            width: 400px;
            padding: 10px;
            border: 3px;
            margin: 0;
        }
        body{
            background-color:#E8E8E8;
        }

    </style>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class = "container">
    <div class="profilelocation">
        <center><h1>{{ my_user_profile.user_name }}</h1>
            <p><img src="{{ my_user_profile.user_profile_picture.url }}" width="150" height="150"></p>
            <!-- We should always use this on pages that send data. security thing-->
            <br>Profile Name: {{ my_user_profile.user_profile_name }}
            <br>Password: Place holder
            <br>Tweet Count: {{ my_user_profile.tweet_count }}
            <br>Liked Count: {{ my_user_profile.liked_tweet_count }}
            <br>Followers: {{ my_user_profile.follower_count }}
            <br>First Name: {{ my_user_profile.user_first_name }}
            <br>Last Name: {{ my_user_profile.user_last_name }}
            <br>Email: {{ my_user_profile.user_email }}
            <br>Phone #: {{ my_user_profile.user_phone }}
            <br>Country: {{ my_user_profile.user_country }}
            <br>Web Site: {{ my_user_profile.user_website }}
            <br>Joined: {{ my_user_profile.created_on }}
            <br><input type="button" data-toggle="modal" data-target="#EditUserProfile" , value="Edit Profile">       <!-- does the submission action (it's a button) -->
            <input type="button" data-toggle="modal" data-target="#InputEncryptionKeys" , value="Encryption keys">
            <input type="button" data-toggle="modal" data-target="#BlockedUserList" , value="Blocked user list">
            </br>
            </form>
        </center>
    </div>

    <div class="tweetinfo">
        {% for my_tweets in tweets %}
            {% if my_tweets.author_id == my_user_profile.user_profile_name %}
                <p style="white-space:nowrap;">

                    <span style="font-size: 172%;font-weight:bold; ">{{ my_user_profile.user_name }} </span>&nbsp;&nbsp;
                    <span style="font-size: larger; ">{{ my_user_profile.user_profile_name }}</span>
                    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;

                    <div class="shadow p-3 mb-5 bg-white rounded">
                    <span>{{ my_tweets.published }}</span>


                        <br>
                        <br>
                        <h5> {{ my_tweets.content }} </h5>

                        <br>
                        <br>


                    <!--  Only display image if it's not the default.png -->
                    {% if my_tweets.media_attachment.name != 'default.png' %}
                        <p> <img src={{ my_tweets.media_attachment.url }} width="200" height="200">
                    {% endif %}
                    <!--  end display image -->


                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Options
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">

                            <form class="site-form" action="/accounts/userprofile.html?delete={{ my_tweets.tweet_id }}"
                                method="post">
                                {% csrf_token %}
                                <input type="image" alt="submit" src="/static/delete.png" width="18" height="18">
                            </form>

                        </ul>
                    </div>
                </div>


            {% endif %}
        {% endfor %} <!--  needed to end for loop -->
    </div>

    <div class="pinned">
        <span style="font-size: 150%;font-weight:bold;float: right;padding-right:5%;display: grid;grid-column-align: center; ">Pinned Posts

            {% for my_pinned_tweets in tweets %}
                {% for pinned in pinned_posts %}
                    {% if pinned.tweet_id == my_pinned_tweets.tweet_id and pinned.pinned_by_user == my_user_profile.user_profile_name %}
                        <div class="pinned_boxed">
                        <div class="shadow p-3 mb-5 bg-white rounded">
                        {% for pinned_user in userprofile %} <!-- Needs to be loop through all users to find the correct profile picture -->
                            {% if pinned_user.user_profile_name == my_pinned_tweets.author_id %}
                                <p><img src={{ pinned_user.user_profile_picture.url }} width="50" height="50">{{ my_pinned_tweets.author_id }}</p>
                            {% endif %}
                        {% endfor %}

                            <h2>{{ my_pinned_tweets.content }}</h2>
                            <h6>Posted: {{ my_pinned_tweets.published }}</h6>
                          <form class="site-form" action="/accounts/userprofile.html?pin={{ my_pinned_tweets.tweet_id }}" method="post">
                             {% csrf_token %}
                              <div class="column">
                                 <input type="image" alt="submit" src="/static/pin.png" width="20" height="20" title="Unpin Post">
                              </div>
                          </form>
                         </div>
                        </div>
                    {% endif %}
                {% endfor %} <!--  needed to end for loop -->
            {% endfor %} <!--  needed to end for loop -->
        </span>
    </div>
    </div>


    <!-- Modal -->
    <div id="EditUserProfile" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Profile</h4>
                </div>
                <div class="modal-body">
                    <!--  must have enctype param or we can't upload pictures -->
                    <form class="site-form" action="/accounts/userprofile.html?update" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <br>Change Profile Picture
                        <br>{{ edituserprofile.user_profile_picture }}</br>
                        <br>Password: Place holder
                        <br>First Name: {{ edituserprofile.user_first_name }}
                        <br>Last Name: {{ edituserprofile.user_last_name }}
                        <br>Email: {{ edituserprofile.user_email }}
                        <br>Phone #: {{ edituserprofile.user_phone }}
                        <br>Country: {{ edituserprofile.user_country }}
                        <br>Web Site: {{ edituserprofile.user_website }}
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-default" , value="Apply">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal for inputting new encryption keys, and deleting old ones -->
    <div id="InputEncryptionKeys" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add/Remove Keys</h4>
                </div>
                <div class="modal-body">
                    {% for keys_list in key_listing %}
                        {% if keys_list.encrypt_list_owner == my_user_profile.user_profile_name %}
                            <form class="site-form" action="/accounts/userprofile.html?deletekey={{ keys_list.key_id }}" method="post">
                                {% csrf_token %}
                                <p>{{ keys_list.user_profile_name }}, {{ keys_list.encryption_key }}, {{ keys_list.enc_keys_notes }}
                                    <input type="image" alt="submit" src="/static/delete.png" width="20" height="20" title="Delete Key"></p>
                            </form>
                        {% endif %}
                    {% endfor %}
                    <form class="site-form" action="/accounts/userprofile.html?newkeys" method="post">
                        {% csrf_token %}
                        {{ encrypt_key_form }}
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-default" , value="Add">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="BlockedUserList" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Blocked user list</h4>
                </div>
                <div class="modal-body">
                    {% for block in blocked_list %}
                        {% if block.blocked_by == my_user_profile.user_profile_name %}
                            <form class="site-form" action="/accounts/userprofile.html?deleteblockeduser={{ block.block_id }}" method="post">
                                {% csrf_token %}
                                <p>User: {{ block.blocked_user_id }}, blocked on: {{ block.block_date }}
                                    <input type="image" alt="submit" src="/static/delete.png" width="20" height="20" title="Delete Block"></p>
                            </form>
                        {% endif %}
                    {% endfor %}
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


