{% extends 'basic_style_layout.html' %}   <!-- this is located in the main templates folder-->
{% block content %}



    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


   <style>
   /* Puts the profile information at the topleft of the page
      Also puts a green border around the information
   */
    .profilelocation {
        width: 400px;
        padding: 10px;
        border: 3px solid green;
        margin: 0;
        position: fixed;
        top: 140px;
        left: 30px;
    }

   .tweetinfo{
       width: 900px;
       padding: 20px;
       border: 3px solid black;
       margin: 0;
       position: absolute;
       top: 340;
       left: 500px;
       LINE-HEIGHT: 10px;
   }

   .leftmargin{
       left: 30px;

   }


    </style>

    <div class="profilelocation">
    <center><h1>{{ userprofile.user_name }}</h1>
        <p>Profile Name: {{ userprofile.user_profile_name }}
        <p>Tweet Count: {{ userprofile.tweet_count }}
        <p>Followers: {{ userprofile.follower_count }}
        <p>Liked Tweets: {{ userprofile.liked_tweet_count }}
    </center>
    </div>

    <div class="tweetinfo">
            <p style="white-space:nowrap;">
                <span style="font-size: 172%;font-weight:bold; ">{{ userprofile.user_name }} </span>&nbsp;&nbsp;
                <span style="font-size: larger; ">{{ userprofile.user_profile_name }}</span>
                &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                <span> time here</span>

            </p>


    <br>
    <center>
    <p> tweet goes here </p>




    </center>
    </div>




{% endblock %}


