body {
    background: white;
}

.boxed {
    border: 2px solid black;
    position: relative;
    margin: 0 40%;
    margin-top: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-column-align: center;
}

.button1 {

    background-color: white;
    border: none;
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
   cursor: pointer;
}

.form {
    position: relative;
    z-index: 1;
    background: white;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

ul#horizontal-list {
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
}

ul#horizontal-list li {
    display: inline;
}

.logout-link{
}
.container {
    max-width: 400px;
    width: 100%;
    margin:  auto;
    position: relative;
}
.modal-dialog{
    max-width: fit-content;
    max-height: fit-content;
}
.home-signup-btn {
    text-align: center;
}
.post-tweet input, .post-tweet textarea {
    display: block;
    padding: 1px;
}
.post-tweet input{
        margin-top: 10px;
}
.home-login-form input, .home-login-form textarea{
    display: block;
    padding: 1px;
}
.core-site-logo-btn button{
    display: block;
}


.home-login-btn{
     margin-left: 35%;
     margin-right: auto;
     padding: 5px;
}

/* START OF CSS FOR NAVIGATION BAR */
nav{
    min-width: 1000px;
    justify-self: end;
}
nav li{
    display: inline-block;
    text-align: center;
    width: 150px;
}
nav button{
    cursor: pointer;
    background: white;
    color: black;
    border: 3px solid;
    border-color: lightgreen;
    font-size: 1em;
    padding: 0px;
}
nav form{
    margin: 0px;
}
.navbar-default{
    height: 120px;
    padding: 0px;
    background-color: indianred;

}
.navbar-nav{
    width: 100%;
    height: 75px;
    background-color: lightgreen;
}
.navbar-brand{
    position:absolute;
    height: 75px;
    width: 150px;
    padding: 0px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 45px;
}
.navbar-brand img{
    width: 150px;
    height: 150px;
}
.btn{
    width: 100px;
    background-color: mediumseagreen;
    border-color: mediumseagreen;
}
nav ul{
    height: 75px;
}

/* END OF CSS FOR NAVIGATION BAR*/

.modal-body input .modal-body textarea{
    display: block;
    padding: 5px;
    background-color: #DA70D6;
}

